* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.products {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
}

.fix {
  position: fixed;
  top: 0;
  left: 0;
  animation: scroll 1s;
}
.wrapper {
  height: 90px;
}

header {
  display: flex;
  width: 100%;
  justify-content: space-around;
  align-items: center;
  height: 90px;
  position: relative;
  background-color: beige;
  

  .cart_logo {
    cursor: pointer;
  }
  .cart {
    width: 396px;
    height: 497px;
    background-color: white;
    position: absolute;
    top: 70px;
    right: 25px;
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
    gap: 32px;
    padding: 32px 19px;
  }
}

.hidden {
  display: none !important;
}

.cart_product {
  width: 330px;
  height: 99px;
  display: flex;
  gap: 14px;

  img.product_image {
    height: 100%;
  }
}

.name_delete {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 217px;

  h3 {
    font-size: 16px;
  }
  img {
    cursor: pointer;
  }
}

.price_quantity {
  display: flex;
  justify-content: space-between;
  margin-top: 21px;
}

.quantity {
  width: 105px;
  height: 31px;
  background-color: #f0f0f0;
  border-radius: 62px;
  display: flex;
  justify-content: space-around;
  align-items: center;

  button {
    border: none;
    font-size: 25px;
  }
}


@keyframes scroll {
  0%{
    transform: translateY(-100px);
  }
  100%{
    transform: translateY(0px);
  }
}